<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Registration</title>
    <link rel="stylesheet" href="/styles/registrationPage.css">
</head>

<body>

<header>
    <h1>Registration Form</h1>
    <nav>
        <a href="/">Home</a>
        <!-- <a href="/login">Login</a> -->
        <!-- <a href="/create">Register</a> -->
    </nav>
</header>

<!-- Foodie Floating Icons -->
<!-- <img src="https://cdn-icons-png.flaticon.com/512/2921/2921820.png" alt="Salad" class="food salad">
<img src="https://cdn-icons-png.flaticon.com/512/2933/2933704.png" alt="Pizza" class="food pizza">
<img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="Burger" class="food burger">
<img src="https://cdn-icons-png.flaticon.com/512/3075/3075975.png" alt="Fruits" class="food fruits"> -->

<main>
    <h2>Registration</h2>
    <p>Join With Platefull</p>

    <form method="post" action="/create">
        <input type="text" placeholder="Username" name="username" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="number" placeholder="Age" name="age" required>
        <input type="submit" value="Register">
    </form>
</main>

<footer>
    <p>&copy; 2025 Food Management System. All rights reserved.</p>
</footer>

</body>
</html>
